body
{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background:#212F3C;
}

.box
{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background:#E74C3C;
	text-align: center;
}

.box h1
{
	color: white;
	text-transform: uppercase;
	font-weight: 500; 
}

.box input[type="text"],.box input[type="password"]
{
	border:0;
	background:none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: solid #909497;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type="text"]:focus,.box input[type="password"]:focus
{
	width: 300px;
	border-color: #28B463;
}

.box input[type="submit"]
{
	border:0;
	background:none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: solid #909497;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.box input[type="submit"]:hover
{
	background: #117A65;
}